.catalog {
  padding: 0 10%;
  margin-bottom: 20px;
}

.catalog h1 {
  font-size: 20px;
  color: var(--gray-font);
  font-weight: 600;
  margin: 28px 0 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}
