.product {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(30% - 1rem);
}

.product-image {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.product-image img {
    object-fit: cover;
    max-width: 70%;
    
}

.product-info {
    display: flex;

    width: 100%;
}

.product-info-wrap {
    display: flex;
    flex-direction: column;
    gap: 25px;


    width: 50%;
}

.product-title {
    font-weight: bold;

}

.product-price {

    align-self: flex-end;
}

.product-rating {}

.product-button {
    background-color: #ffffff;
    border: none;
    font-size: 17px;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}