@media (min-width:1201px){
    .product {
        width: calc(33% - 20px );
    }
}
@media (max-width:1200px){
    .product {
        width: calc(50% - 20px);
    }
}
@media (min-width:769px){
    .product-info {
        gap: 25px;
    } 
}
@media (max-width:768px){
    .product-info {
        gap: 5px;
    } 
}
@media (max-width:481px){
    .product-info {
        gap: 25px;
    } 
    .product {
        width: 100%;
    }
}

.product {
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 2rem;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

.product-image {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.product-image img {
    object-fit: cover;
    max-width: 70%;

}

.product-info {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.product-title {
    font-weight: bold;
}

.product-price {
    color: var(--orange-font);
    justify-self: end;
}

.product-price-discount {
    position: absolute;
    color: var(--pale-orange-font);
    right: 5px;
    top: 15px;
    font-size: 13px;
    text-decoration: line-through;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--gray-font);
}

.product-button {
    background-color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    justify-self: end;
}

.product-button:hover {
    color: var(--pale-orange-font);
    transition: all 0.2s ease;
}

.expand-btn{
    position: absolute;
    right: 15px;
    cursor: pointer;
}
