@media (min-width: 481px) {
  .header {
    padding: 1rem 10%;
  }
}
@media (max-width: 480px) {
  .header {
    padding: 1rem 5%;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;

  min-width: 100vw;
  background-color: var(--gray-background-7);
  z-index: 3;
}

.header .links {
  width: 90px;
  display: flex;
  align-items: center;
  position: relative;
  gap: 45px;
}

.header .link {
  position: relative;
}

.header .count {
  position: absolute;
  top: -8px;
  right: -10px;
  font-size: 11px;
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: var(--orange-font);
  border-radius: 50%;
}

.count.jumping {
  animation: jump 0.3s ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}
