@media (min-width:481px){
    .footer {
        margin: auto 10% 0;
        min-width: 80%;
    }
    .footer .lang {
        justify-content: space-between;
    }
    .footer .social {
        gap: 17px;
    }
}
@media (max-width:480px){
    .footer {
        margin: auto 0 0;    
        min-width: 100%;
    }
    .footer .lang {
        gap: 30px;
    }
    .footer .social {
        flex-direction: column;
    }
    .footer .social {
        gap: 0px;
    }
}
.footer {
    display: flex;

    justify-content: space-between;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 30px 30px 0 0;
    

    align-self: flex-end;
}


.footer .links {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.footer .link:hover {
    color: var(--pale-orange-font);
    transition: all 0.2s ease;
}

.footer .lang {
    display: flex;
    flex-direction: column;
}

.footer .lang-swapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer .lang-swapper button {
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

.footer .lang-swapper button:hover {
    color: var(--pale-orange-font) !important;
}

.footer .social {
    display: flex;
}