:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 17px;

  --gray-background: rgb(234, 234, 234);
  --gray-background-7: rgba(234, 234, 234, 0.7);
  --gray-font: #838383;
  --orange-font: #FFA542;
  --pale-orange-font: #FFCE7F;

}

body {
  background-color: var(--gray-background);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

}

button{
  background: none;
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: none;
  font-size: 17px;
  font-weight: 600;
}
a{
  text-decoration: none;
  color: black
}
