:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 20px;
  font-weight: 400;
  font-size: 17px;

  --gray-background: #EAEAEA;
  --gray-font: #838383;
  --orange-font: #FFA542;
  --orange-font-discount: #FFCE7F;

}

body {
  background-color: var(--gray-background);
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button{
  background: none;
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  border: none;
  font-size: 17px;
  font-weight: 600;
}